body{
  margin: 0;
  padding: 0;
  background: url(/src/background.jpeg) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}


.loginbox{
  width: 320px;
  height: 420px;
  background: rgb(74, 74, 88);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 30%;
  position: absolute;
  top: -50px;
  left: calc(80% - 50%);

}

h1{
  margin: 0;
  padding: 0 0 20px;

}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{

  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}


.loginbox button[type="submit"]
{
  border: none;
  background: grey;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 18px;
  position: auto;
}

.loginbox button[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc;
  color: #000;
}

.loginbox a{
  font-size: 12px;
  line-height: 20px;
  color: lightblue;
}
